@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
        font-family: 'Open Sans', sans-serif;
}

.slider{
    width: 100%;
    min-height: 80vh;
    background: #000;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    filter: brightness(50%);
}

.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 5rem;
}

.slider-content p{
    color: #fff;
    font-size: 2 rem;
    font-weight: 300;
}

.section {
    padding: 100px 0;
}

.boxed {
    max-width: 1280px;
    margin-inline:auto;
}

.flex{
    display: flex;
}

.w40{
    width: 40%;
}

.w60{
    width: 60%;
}

h2 {
    font-size: 3rem;
    margin-bottom: 100px;
}

p{
    font-size: 1.4em;
    line-height: 1.5rem;
}

.dark{
    background: #000;
    color: #fff;

}

.text-center{
    text-align: center;
}

.w25 {
    width: 25%;
}

.skill{
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    object-fit: contain;
}

.skill img{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
}

.skill h3{
    color: #000;
}

.gap20{
    gap: 20px;
}